body {
  font-family: Verdana, Tahoma, sans-serif;
  background-color: #6c6363;
  margin-left: 10%;
  margin-right: 10%;
}

.container {
  background-color: #fff;
  width: 100%;
  height: 185vh;
}

span {
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #1b1a19;
  color: #fffefe;
  width: 4.8%;
  height: auto;
}

.main-heading {
  text-align: center;
  font-size: 45px;
}

#p1 {
  text-align: center;
  font-size: 20px;
}

.pho1 {
  width: 900px;
  height: 289px;
}

.walk {
  width: 900px;
  height: 280px;
}

.b1-fig {
  width: 900px;
  height: 270px;
  background-color: #6c6363;
  margin-top: -4px;
}

.pop {
  width: 54px;
  height: 54px;
  display: grid;
}
